@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed');
body {
  display: grid;
  grid-template: 1fr 210px 300px 1fr / 1fr 300px 100px 20px 100px 300px 1fr;
  grid-gap: 1ex 1em;
  background-color: rgba(0, 43, 18,.618);
  width: 100vw;
  height: 100vh;
  font-family: 'Encode Sans Condensed', sans-serif;
}
div {
  /* background-color: rgba(0,0,0,.2); */
}

#bckgrnd-img{
  object-fit: cover;
  z-index: -1;
  grid-area: 1 / 1 / span 4 / span 7;
  opacity: .2;
  width: inherit;
  height: inherit;
}
#name-player {
  grid-area: 2 / 2;
  place-self: end;
}
#score-player {
  grid-area: 2 / 3;
  place-self: end;
}
#score-separator {
  grid-area: 2 / 4;
  place-self: end center;
}
#score-computer {
  grid-area: 2 / 5;
  place-self: end start;
}
#name-computer {
  grid-area: 2 / 6;
  place-self: end start;
}
#player-play {
  grid-area: 3 / 2;
  place-self: start end;
}
#computer-play {
  grid-area: 3 / 6;
  place-self: start;
}
#copyright {
  bottom: 1ex;
  right: 1em;
  text-align: left;
  position: absolute;
  font-family: 'Encode Sans Condensed', sans-serif;
  font-size: 10px;
  color: #fff9d4;
}
  #copyright a {
    color: #fff9d4;
    text-decoration: none;
  }
  #copyright a:hover {
    color: #ffd000;
  }

.name{
  font-size: 42px;
  color: #fff9d4;
}

.score{
  font-size: 210px;
  color: #fff9d4;
}
.play-container {
  width: 100%;
}
.play {
  display: block;
  font-size: 30px;
  width: 100%;
  height: 2em;
  line-height: 2em;
  border: none;
  margin-top: 1em;
  text-align: center;
  font-family: 'Encode Sans Condensed', sans-serif;
}

.play {
  background-color: #f06c00;
  transition: all .3s;
}
  button:hover {
    background-color: #ffd000;
    box-shadow: 0 0 13px #555;
    cursor: pointer;
  }
  button:active {
    box-shadow: none;
  }

.computer-play .play {
  opacity: .618;
}

.shake-horizontal{
  animation: shake;
  animation-duration: .1s;
  animation-iteration-count: 3;
}
@keyframes shake {
  0% {transform: translateX(0px);}
  25% {transform: translateX(-5px);}
  50% {transform: translateX(0px);}
  75% {transform: translateX(5px);}
}

.winner{
  animation: win;
  animation-duration: .6s;
  animation-iteration-count: 1;
}
@keyframes win {
  50% {background-color: #c6df5f;}
}

.looser{
  animation: loose;
  animation-duration: .6s;
  animation-iteration-count: 1;
}
@keyframes loose {
  50% {background-color: #fe0229;}
}

.tie{
  animation: tie;
  animation-duration: .3s;
  animation-iteration-count: 1;
}
@keyframes tie {
  50% {background-color: #fff9d4;}
}
